<a href="https://colab.research.google.com/github/Muscleband/EDA-Netflix-Dataset/blob/main/EDA_Netflix_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("shivamb/netflix-shows")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/shivamb/netflix-shows?dataset_version_number=5...

100%|██████████| 1.34M/1.34M [00:00<00:00, 2.50MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/shivamb/netflix-shows/versions/5

In [4]:
df = pd.read_csv(path + "/netflix_titles.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [10]:
df.head()
print(df.shape)

(8807, 12)

In [11]:
#shows how many duplicate rows are present
print("Duplicated rows: ", df.duplicated().sum())

Duplicated rows:  0

In [14]:
#shows how many null values are present per column
print("Missing values per column:")
print(df.isnull().sum())

Missing values per column:
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [15]:
df.drop_duplicates(inplace=True)